<h1> Scheduling App </h1>

<%= link_to "Rooms", rooms_path %>
<%= link_to "Schedules", schedules_path %>

<h4>Upload your Room data before running search</h4>

<%= form_tag import_rooms_path, multipart: true do %> 
<h1>Rooms upload</h1>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload Rooms" %>
<% end %>

<%= form_with(url: search_schedules_path, method: 'get') do %>
    <h1>Search available rooms here</h1>
    
    <%= label_tag "Date: " %> 
    <%= date_field_tag "date", :required => true %><br>

    <%= label_tag "Start: " %>
    <input type="text" id="start" name="start"
           pattern="\b((1[0-2]|0?[1-9]):([0][0]) ([AaPp][Mm]))"
           value="12:00 AM"
           ><br>

    <%= label_tag "Length: " %>
    <%= number_field_tag "length", :required %><br> 

    <%= label_tag "Capacity: " %>
    <%= number_field_tag "capacity", :required => true %><br>

    <%= submit_tag "Search" %>
<% end %>