<h1> Scheduling App </h1>

<%= link_to "Rooms", rooms_path %>
<%= link_to "Schedules", schedules_path %>

<h4>Upload your Room data before running search</h4>

<%= form_tag import_rooms_path, multipart: true do %> 
<h1>Rooms upload</h1>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload Rooms" %>
<% end %>

<%= form_with(url: search_rooms_path, method: 'get') do %>
    <h1>Search available rooms here</h1>
    
    <%= label_tag "Date: " %> 
    <%= date_field_tag "date" %><br>

    <%= label_tag "Start: " %>
    <%= time_field_tag "start" %><br>

    <%= label_tag "Length: " %>
    <%= number_field_tag "length", :step => 0.5 %><br> 

    <%= label_tag "Capacity: " %>
    <%= number_field_tag "capacity" %><br>

    <%= submit_tag "Search" %>
<% end %>