<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :building %>
    <%= form.text_field :building %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :cap %>
    <%= form.number_field :cap %>
  </div>

  <div class="field">
    <%= form.label :comp_avail %>
    <%= form.check_box :comp_avail %>
  </div>

  <div class="field">
    <%= form.label :seat_avail %>
    <%= form.text_field :seat_avail %>
  </div>

  <div class="field">
    <%= form.label :seat_type %>
    <%= form.text_field :seat_type %>
  </div>

  <div class="field">
    <%= form.label :food %>
    <%= form.check_box :food %>
  </div>

  <div class="field">
    <%= form.label :dept %>
    <%= form.text_field :dept %>
  </div>

  <div class="field">
    <%= form.label :room_type %>
    <%= form.text_field :room_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
